gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore included per user request to transfer between PCs
# key.properties
# **/*.keystore
# **/*.jks
